doctype html
html(lang='en' ng-app='app')
  head

    base(href='/')

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title(ng-bind='pageTitle')
    link(rel='stylesheet' href='css/main.css')

  body
    .container
      nav.navbar.navbar-light.bg-faded.navbar-full
        a.navbar-brand(href='/') Brand
        button.navbar-toggler.hidden-sm-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#CollapsingNavbar')
          | ☰
        #CollapsingNavbar.collapse.navbar-toggleable-xs
          ul.nav.navbar-nav
            li.nav-item
              a.nav-link(href='/') Home 
            li.nav-item
              a.nav-link(href='/about') About
      .row
        .col-md-6
          h1
        .col-md-6
          div(ng-view)

    script(src='js/main.js')
